@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --sectionBgButton: #06a9ef14;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.headerStyle {
  background-color: #28abfa66;
  border-radius: 50px;
  backdrop-filter: blur(10px);
}

.textSectionBackground {
  background-color: var(--sectionBgButton);
}

.backgroundVideo {
  position: fixed;
  right: 0;
  bottom: top;
  min-width: 100%;
  min-height: 70%;
}
